body {  
    background-image: linear-gradient(
      to right,
      black,
      #A20908,
      #A20908,
      black
    );
}
.app {
  font-family: sans-serif;
  align-content: center;
}
.corpo {
  text-align: center;
  display: flex;
  }
.card {
  background-color: white;
width: 700px;
height: fit-content;
margin: 10px 20px;
font-size: 20px;
}